<% wrap_layout :master_layout do %>

    <div class="blog">
        <%= yield %>
    </div>

    <hr>

    <%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5", :id_corso => "BLOG"} %>

<% end %>