<div class="row">
    <div class="column">
        <h2><i class="fa fa-users" aria-hidden="true"></i> Chi Siamo?</h2>
    </div>
</div>

<div class="row">
    <div class="columns small-12 medium-3">
        <img src="https://prismic-io.s3.amazonaws.com/tralerighe/9c7684ac125b76209b7468f8b0f35f7a6f2c0779_logo_tralerighe_lab-1.jpg">
    </div>
    <div class="columns">
        <h4 class="subheader">Tralerighe Editore</h2>

        <p>
            Tralerighe e Tralerighe Lab, due realtà, un unico obiettivo: esplorare tutte le potenzialità della <strong>parola
            scritta</strong>.
        </p>
        <p>
            <strong>Tralerighe Lab</strong>, ultimo sviluppo di una società con <strong>15 anni di esperienza nel mondo dell’editoria</strong> e
            della comunicazione, è un cantiere dove costruire e consolidare talenti e professionalità, dalla scrittura
            creativa al copywriting, dalle tecniche di editing al giornalismo 2.0.
        </p>
        <p>
            Si affianca a Tralerighe Editore: <strong>marchio editoriale indipendente,</strong>
            con collane di narrativa e saggistica, definita dai mass-media
            <i>“La casa editrice fucina di nuovi talenti”</i>.
        </p>
        <p>
            Tralerighe Editore affianca a scrittori affermati come
            <strong>Emanuela Nava</strong> e <strong>Bruno Perini</strong> esordienti osannati dalla critica come <strong>Michele Di Palma</strong> e <strong>Morena Rossi</strong>.
        </p>
    </div>
</div>
