<div class="row">
    <div class="column">
        <h2><i class="fa fa-bed" aria-hidden="true"></i> Non abiti a Milano?</h2>
    </div>
</div>

<div class="row">
    <div class="columns">
        <h4 class="subheader">Ti aiutiamo a trovare una sistemazione a prezzi vantaggiosi</h2>

        <p>Attraverso accordi con alcuni bed & breakfast, Tralerighe può offrirti soluzioni convenienti per l'alloggio in città.</p>

    </div>
    <div class="columns small-12 medium-3 show-for-medium">
        <img src="https://prismic-io.s3.amazonaws.com/tralerighe/c64555adfca6036ff8564a241904eadf04625e1b_alloggio-1.jpg">
    </div>
</div>