<footer>
    <hr>
        <div class="row align-justify">
            <div class="column small-6">
                <%= link_to '<img alt="Tralerighe Lab" src="https://prismic-io.s3.amazonaws.com/tralerighe/5e235b6dfcc30eab38f330c7c2b89ab83029b11d_logo_tralerighe_lab.jpg">', '/' %></li>
                <i>Via Tantardini, 7 - 20136 Milano</i> | P.IVA: 09060820967
            </div>
            <div class="column small-1">
                <a href="//www.iubenda.com/privacy-policy/7884687" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>            </div>
        </div>
</footer>