<div class="row banner show-for-medium">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto"><%= precentuale_sconto %>% di Sconto </span>
                <br><span class="subSconto">Promozione valida fino al <span class="dataPromo">esaurimento posti</span></span><br>
                <span class="subSconto"><i><%= frase_incentivo %></i></span>
            </a>
        </div>
</div>


<div class="row banner-small show-for-small-only">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto"><%= precentuale_sconto %>% di Sconto </span>
                <br><span class="subSconto">Promozione valida fino al <span class="dataPromo">esaurimento posti</span></span><br>
                <span class="subSconto"><i><%= frase_incentivo %></i></span>
            </a>
        </div>
</div>