---
title: >
        Corso di Storytelling a Milano - TralerigheLab

description: >
        Apprendi le Tecniche dello Storytelling, Impara a Raccontare il Tuo Progetto Aziendale e Diventa un Professionista della Comunicazione!

testata:
    prima_riga: Corso di Storytelling
    seconda_riga: >

            Dal 18 febbraio 2017 al 4 marzo 2017<br><span class="medium"><i>2 fine settimana (21 Ore) a Milano</i></span>

immagineTestata: https://prismic-io.s3.amazonaws.com/tralerighe/be614badf8c6ec46a5f9d8782b83458ce983f9b2_testata-scritturacreativa.jpg

headCode: >

conversionCode: >

---



<form action="/your-server-side-code" method="POST">
<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="pk_test_nemhN0Z65X3QR2ag7fK5QYlC"
  data-amount="35000"
  data-name="TRALERIGHE SNC"
  data-description="Corso di Storytelling"
  data-image="https://s3.amazonaws.com/stripe-uploads/acct_19PzmZIkWF7jDaKomerchant-icon-1481575570194-9c7684ac125b76209b7468f8b0f35f7a6f2c0779_logo_tralerighe_lab-1.jpg"
  data-locale="it"
  data-currency="eur">
</script>
</form>