---
title: >
        Corso di Scrittura Creativa a Milano - Tralerighe

description: >
            Costruisci il Tuo Progetto di Scrittura: Sviluppo della Storia, Definizione dei Personaggi, Perfezionamento e Cura della Propria Cifra Stilistica.
testata:
    prima_riga: DICIASSETTE!
    seconda_riga: C'è sempre una prima storia!
    hasButton: 0
immagineTestata: https://prismic-io.s3.amazonaws.com/tralerighe/1061e11067ae2468cf68a35f5d7eb14c7b8a004d_copertina_libro_17_fronte.jpg

headCode: >

conversionCode: >

---


<!-- <div class="row banner show-for-medium">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Il primo libro</span>
                <br><span class="subSconto">Diciassette racconti originali, veri... speciali</span></span><br>
                <span class="subSconto"><i>C'è sempre un primo racconto!</i></span>
            </a>
        </div>
</div>


<div class="row banner-small show-for-small-only">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Diciassette racconti</span>
                <br><span class="subSconto">Diciassette racconti originali, veri... speciali</span></span><br>
                <span class="subSconto"><i>C'è sempre un primo racconto!</i></span>
            </a>
        </div>
</div> -->

<hr>

<div class="row">
    <div class="column">
        <h2><i class="fa fa-book" aria-hidden="true"></i> Il primo Libro scritto dai nostri studenti</h2>
    </div>
</div>

<div class="row">
    <div class="columns small-12 medium-5">
        <img src="https://prismic-io.s3.amazonaws.com/tralerighe/ad1c6448641d56f92a223d73f855dd700088e3a6_copertina_libro_17_fronte.jpg">
    </div>
    <div class="columns">
        <div class="row">
            <div class="columns">
                <p>

                    <span class="prezzo">€ 14,50 (Spese di spedizone GRATUITE!)</span>
                </p>

                <p>
                    <button
                        class="ctaButton button snipcart-add-item"
                        data-item-id="diciassette_libro"
                        data-item-name="Diciassette"
                        data-item-price="14.50"
                        data-item-url="https://www.tralerighelab.it<%= current_page.url %>"
                        data-item-description="Diciassette - C'è sempre una prima storia">
                        Acquista subito!
                    </button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="columns">


                <h4 class="subheader">I 17 racconti e i loro autori</h4>

                <ul>
                    <li>
                        A muso duro <i>di Veronica Bellusci</i>
                    </li>
                    <li>
                        Vietato scendere <i>di Carlotta Bonvicini</i>
                    </li>
                    <li>
                        Gauloises Blondes <i>di Silvia Cardinale</i>
                    </li>
                    <li>
                        Fratelli <i>di Elisabetta Casini</i>
                    </li>
                    <li>
                        Vivi <i>di Andrea Cecconello</i>
                    </li>
                    <li>
                        Illusioni <i>di Grazia Cifarelli</i>
                    </li>
                    <li>
                        Piero <i>di Paola Concari</i>
                    </li>
                    <li>
                        Finalmente <i>di Irene Faustinelli</i>
                    </li>
                    <li>
                        Sogno o son desto? <i>di Caira Galatà</i>
                    </li>
                    <li>
                        La legge della giungla <i>di Alberto Grandi</i>
                    </li>
                    <li>
                        Mabillon <i>di Illy Jeannette</i>
                    </li>
                    <li>
                        Coincidenze <i>di Nora Marabelli</i>
                    </li>
                    <li>
                        Joy <i>di Federica Muzzi</i>
                    </li>
                    <li>
                        Fino al galeone <i>di Edo Ponti</i>
                    </li>
                    <li>
                        Il doppio bene prezioso <i>di Gianluigi Santoro</i>
                    </li>
                    <li>
                        La cosa più bella del mondo <i>di Anna Maria Surdo</i>
                    </li>
                    <li>
                        La bella estate <i>di Marina Zavatarelli</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
