---
title: >
        Corso di Scrittura Creativa a Milano - Tralerighe

description: >
            Costruisci il Tuo Progetto di Scrittura: Sviluppo della Storia, Definizione dei Personaggi, Perfezionamento e Cura della Propria Cifra Stilistica.
testata:
    prima_riga: Grazie per averci contattati!
    seconda_riga: Ti risponderemo in pochi miunti.
    hasButton: 0
immagineTestata: https://prismic-io.s3.amazonaws.com/tralerighe/6d3f1a85b168f2eca43dc1ef8cbc83a7b70c660a_01-testata.jpg

headCode: >

conversionCode: >
                    <!-- Google Code for Lead Corso Conversion Page -->
                    <script type="text/javascript">
                    /* <![CDATA[ */
                    var google_conversion_id = 881041241;
                    var google_conversion_language = "en";
                    var google_conversion_format = "3";
                    var google_conversion_color = "ffffff";
                    var google_conversion_label = "MzP0CJyCzmgQ2b6OpAM";
                    var google_remarketing_only = false;
                    /* ]]> */
                    </script>
                    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
                    </script>
                    <noscript>
                    <div style="display:inline;">
                    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/881041241/?label=MzP0CJyCzmgQ2b6OpAM&amp;guid=ON&amp;script=0"/>
                    </div>
                    </noscript>
---
