---
title: >
        La scuola di scrittura a Milano - TralerigheLab

description: >
        Costruisci il Tuo Progetto di Scrittura: Sviluppo della Storia, Definizione dei Personaggi, Perfezionamento e Cura della Propria Cifra Stilistica.

testata:
    prima_riga: Scuola di scrittura
    hasButton: 0
    seconda_riga: >

            La più scelta di Milano

immagineTestata: https://prismic-io.s3.amazonaws.com/tralerighe/f6820e7bb6ae9e84be26bd70f2cb646f6009f9e5_testata-tralerighe2.jpg

headCode: >

conversionCode: >
                    <!-- MOMENT -->
                    <script src="https://s3-eu-west-1.amazonaws.com/cdn.fucinadeltag.it/moment.js"></script>
                    <script type="text/javascript">
                        moment.locale('it');
                        var lastDayOfMonth = moment().endOf('month').format("D\ MMMM YYYY");
                        $(".dataPromo").html(lastDayOfMonth);
                    </script>
                    <script type="text/javascript">
                        $(window).scroll(function() {
                            if ($(this).scrollTop() > 250) { //use `this`, not `document`
                                $('.corner-ribbon').css({
                                    'display': 'none'
                                });
                            }
                        });
                        $(window).scroll(function() {
                            if ($(this).scrollTop() < 250) { //use `this`, not `document`
                                $('.corner-ribbon').css({
                                    'display': 'inline'
                                });
                            }
                        });
                    </script>
                    <!-- /MOMENT -->
---

<div class="row">
    <div class="column">
        <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> I prossimi corsi</h2>
    </div>
</div>
<div class="row small-up-1 medium-up-1">
    <div class="column margin-column callout">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <a href="/scritturacreativa" title="Corso di Scrittura Creativa">
                    <img src="https://prismic-io.s3.amazonaws.com/tralerighe/2082cd401e9c940892700aa788f6a28131897809_scrittura_creativa.jpg">
                </a>
            </div>
            <div class="small-12 medium-6 columns">
                    <h2>
                        <a href="/scritturacreativa" title="Corso di Scrittura Creativa">
                            Corso di scrittura Creativa
                        </a>
                    </h2>
                    <i>Dal 11 novembre 2017 al 1 aprile 2018</i>
                    <p></p>
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="/scritturacreativa" class="ctaButton button">Maggiori Informazioni</a>
                        </div>
                    </div>
                    <i>Terza Edizione</i>
            </div>
        </div>
    </div>

    <div class="column margin-column callout">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <a href="/scritturacreativa_avanzato" title="Corso Avanzato di Scrittura Creativa">
                    <img src="https://prismic-io.s3.amazonaws.com/tralerighe/be614badf8c6ec46a5f9d8782b83458ce983f9b2_testata-scritturacreativa.jpg">
                </a>
            </div>
            <div class="small-12 medium-6 columns">
                    <h2>
                        <a href="/scritturacreativa_avanzato" title="Corso AVANZATO di Scrittura">
                            Corso AVANZATO di scrittura
                        </a>
                    </h2>
                    <i>Dal 21 ottobre 2017 all' 11 marzo 2018</i>
                    <p></p>
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="/scritturacreativa_avanzato" class="ctaButton button">Maggiori Informazioni</a>
                        </div>
                    </div>
                    <i>Prima Edizione</i>
            </div>
        </div>
    </div>


    <!-- <div class="column margin-column callout">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <a href="/promozione_libro" title="Come promuovere il tuo libro e vivere di scrittura">
                    <img src="https://prismic-io.s3.amazonaws.com/tralerighe/e386410b5c5a1ae4f3d753a17cb511e67168ce32_typewriter-storytelling.jpg">
                </a>
            </div>
            <div class="small-12 medium-6 columns">
                    <h2>
                        <a href="/promozione_libro" title="Corso di Scrittura Creativa">
                            Come promuovere il tuo libro e vivere di scrittura
                        </a>
                    </h2>
                    <i>Dal 3 ottobre 2017 al 30 gennaio 2018</i>
                    <p></p>
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="/promozione_libro" class="ctaButton button">Maggiori Informazioni</a>
                        </div>
                    </div>
                    <i>Terza Edizione</i>
            </div>
        </div>
    </div> -->
    <!-- <div class="column margin-column callout ">
        <div class="row">
            <div class="medium-6 columns">
                 <a href="/storytelling" title="Corso di Storytelling">
                    <img src="https://prismic-io.s3.amazonaws.com/tralerighe/be614badf8c6ec46a5f9d8782b83458ce983f9b2_testata-scritturacreativa.jpg">
                </a>
            </div>
            <div class="medium-6 columns">
                    <h2>
                        <a href="/storytelling" title="Corso di Storytelling">
                            Corso di Storytelling
                        </a>
                    </h2>
                    <i>Dal 4 marzo 2017</i>
                    <p></p>
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="/storytelling" class="ctaButton button">Maggiori Informazioni</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="column margin-column callout ">
        <div class="row">
            <div class="medium-6 columns">
                <a href="/sceneggiatura" title="Corso di Sceneggiatura">
                    <img src="https://prismic-io.s3.amazonaws.com/tralerighe/5d49575be514870df860b34dc2c722aea3c3b76a_sceneggiatura-testata3.jpg">
                </a>
            </div>
            <div class="medium-6 columns">
                    <h2>
                        <a href="/sceneggiatura" title="Corso di Sceneggiatura">
                            Corso di Sceneggiatura
                        </a>
                    </h2>
                    <i>Dall' 11 marzo 2017 al 26 marzo 2017</i>
                    <p></p>
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="/sceneggiatura" class="ctaButton button">Maggiori Informazioni</a>
                        </div>
                    </div>
            </div>
        </div>
    </div> -->
</div>

<div class="row">
    <div class="column">
        <h2><i class="fa fa-book" aria-hidden="true"></i> Pubblicazioni</h2>
    </div>
</div>

<div class="row small-up-1 medium-up-1">
    <div class="column margin-column callout">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <a href="/diciassette" title="Diciassette - C'è sempre una prima storia">
                    <img src="https://prismic-io.s3.amazonaws.com/tralerighe/1061e11067ae2468cf68a35f5d7eb14c7b8a004d_copertina_libro_17_fronte.jpg">
                </a>
            </div>
            <div class="small-12 medium-6 columns">
                    <h2>
                        <a href="/diciassette" title="Diciassette - C'è sempre una prima storia">
                            Diciassette - C'è sempre una prima storia
                        </a>
                    </h2>
                    <i>Il primo libro con i racconti dei nostri studenti</i>
                    <p></p>
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="/diciassette" class="ctaButton button">Maggiori Informazioni</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- <div class="column margin-column callout ">
        <div class="row">
            <div class="medium-6 columns">
                 <a href="/storytelling" title="Corso di Storytelling">
                    <img src="https://prismic-io.s3.amazonaws.com/tralerighe/be614badf8c6ec46a5f9d8782b83458ce983f9b2_testata-scritturacreativa.jpg">
                </a>
            </div>
            <div class="medium-6 columns">
                    <h2>
                        <a href="/storytelling" title="Corso di Storytelling">
                            Corso di Storytelling
                        </a>
                    </h2>
                    <i>Dal 4 marzo 2017</i>
                    <p></p>
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="/storytelling" class="ctaButton button">Maggiori Informazioni</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="column margin-column callout ">
        <div class="row">
            <div class="medium-6 columns">
                <a href="/sceneggiatura" title="Corso di Sceneggiatura">
                    <img src="https://prismic-io.s3.amazonaws.com/tralerighe/5d49575be514870df860b34dc2c722aea3c3b76a_sceneggiatura-testata3.jpg">
                </a>
            </div>
            <div class="medium-6 columns">
                    <h2>
                        <a href="/sceneggiatura" title="Corso di Sceneggiatura">
                            Corso di Sceneggiatura
                        </a>
                    </h2>
                    <i>Dall' 11 marzo 2017 al 26 marzo 2017</i>
                    <p></p>
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="/sceneggiatura" class="ctaButton button">Maggiori Informazioni</a>
                        </div>
                    </div>
            </div>
        </div>
    </div> -->
</div>


<div class="row small-up-1 medium-up-4">
    <div class="column">
        <h4 class="subheader"><i class="fa fa-eur"></i> Prezzi Convenienti</h4>
    </div>

    <div class="column">
        <h4 class="subheader"><i class="fa fa-graduation-cap"></i> Docenti qualificati</h4>
    </div>

    <div class="column">
        <h4 class="subheader"><i class="fa fa-tachometer"></i> Risposte veloci</h4>
    </div>

    <div class="column">
        <h4 class="subheader"><i class="fa fa-puzzle-piece"></i>  Al vostro servizio</h4>
    </div>
</div>

<hr>

<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5", :precentuale_sconto => "30", :id_corso => "home"} %>


<%= partial "partials/chiSiamo" %>


