---
title: >
        Corso di scrittura creativa

description: >
        Da inserire

conversionCode: >
                    <!-- MOMENT -->
                    <script src="https://s3-eu-west-1.amazonaws.com/cdn.fucinadeltag.it/moment.js"></script>
                    <script type="text/javascript">
                        moment.locale('it');
                        var lastDayOfMonth = moment().endOf('month').format("D\ MMMM YYYY");
                        $(".dataPromo").html(lastDayOfMonth);
                    </script>
                    <!-- /MOMENT -->
---
<body>

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><a href="/"><img src="https://prismic-io.s3.amazonaws.com/tralerighe/5e235b6dfcc30eab38f330c7c2b89ab83029b11d_logo_tralerighe_lab.jpg"></a></li>
        </ul>
    </div>
</div>


<br>

<div class="row">
    <div class="medium-12 column">
    <h1 class="title">CORSO DI SCRITTURA CREATIVA</h1>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/tralerighe/2082cd401e9c940892700aa788f6a28131897809_scrittura_creativa.jpg">
    </div>
</div>

<%= partial "partials/promo_section" %>

<%= partial "partials/rowCallToAction" %>

<hr>

<div class="row">
    <div class="columns">
        <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> I docenti del corso</h2>
    </div>
</div>

<div class="row small-up-1">
    <div class="column">
        <div class="row">
            <div class="column small-12 medium-3">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/tralerighe/8425dd37ddc6fcdda97adc0660c37da046691e09_federico-baccomo.jpg">
            </div>

            <div class="column small-12 medium-9">
                <h2 class="subheader">Federico Baccomo</h2>
                <h3>Scrittore per Marsilio e Giunti</h3>
                <p>
                    Nato a Milano nel 1978.<br>
                    Ex avvocato, ha lasciato la professione per dedicarsi alla scrittura.
                </p>

                <p>

                    Ha pubblicato i romanzi:
                    <ul>
                        <li><strong>Studio illegale</strong> (2009 – vincitore del Premio Vigevano Opera Prima) - Edito da <i>Marsilio</i></li>
                        <li><strong>La gente che sta bene</strong> (2011) - Edito da <i>Marsilio</i></li>
                        <li><strong>Peep Show</strong> (2014 – vincitore del Premio Letterario Frignano) - Edito da <i>Marsilio</i></li>
                        <li><strong>Woody</strong> (2015) - Edito da <i>Giunti</i></li>
                    </ul>
                    Dai primi due sono stati tratti gli omonimi film.
                </p>
                <p>
                    Scrive soggetti e sceneggiature per il cinema e la televisione.<br>
                    Ha collaborato, tra gli altri, con GQ, il Fatto quotidiano e il Venerdì di Repubblica.
                </p>

            </div>
        </div>
    </div>
    <div class="column">
        <div class="row">
            <div class="column small-12 medium-3">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/tralerighe/b4e50590e35a4e261a1e0fd0dabfaecd4d683f70_lorenza_gentile.jpg">
            </div>

            <div class="column small-12 medium-9">
                <h2 class="subheader">Lorenza Gentile</h2>
                <h3>Scrittrice per Einaudi Stile Libero</h3>
                <p>
                    Nata a Milano nel 1988.<br>
                    Si è laureata in Arti dello Spettacolo alla Goldsmiths University di Londra e ha frequentato la scuola di teatro Jacques Lecoq di Parigi.
                </p>

                <p>
                Il suo primo romanzo, <strong>Teo</strong> è stato pubblicato in Italia (Einaudi Stile Libero, 2014), Germania (Dtv, 2015), Corea (Open Books, 2015) e in Spagna (Siruela, 2016).
                <br>I diritti cinematografici sono stati opzionati da Pantaleon Entertainment.<br>
                Teo ha vinto il premio Rhegium Julii 2014, il Premio Seminara Opera Prima 2014, il Premio Kihlgren Opera Prima 2015 e il premio Young Jury della Literaturhaus di Vienna
                </p>
                <p>
                    La sua prima opera teatrale <strong>If not today, eventually</strong> andrà in scena al <i>Park Theatre di Londra</i> in autunno.
                    <br>Il suo prossimo romanzo è in via di pubblicazione presso <i>Einaudi Stile Libero</i> (Gennaio 2017).
                </p>

            </div>
        </div>
    </div>
    <div class="column">
        <div class="row">
            <div class="column small-12 medium-3">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/tralerighe/51da529c502abb348504aa89260a454f58f4f500_davide_mosca.jpeg">
            </div>

            <div class="column small-12 medium-9">
                <h2 class="subheader">Davide Mosca</h2>
                <h3>Scrittore per Modadori, Rizzoli e Chiarelettere</h3>
                <p>
                    Nato a Savona nel 1979 e vive a Milano.<br>
                    Scrittore, ghost writer ed editorialista, ha pubblicato una decina di romanzi e altrettanti saggi, vendendo oltre <strong>centomila copie</strong>.
                </p>

                <p>
                    Alcuni suoi romanzi:
                    <ul>
                        <li><strong>Ho osato vincere</strong> - Edito da <i>Modadori</i></li>
                        <li><strong>Più sicuri di sé con Raymond Chandler </strong> - Edito da <i>Chiarelettere</i></li>
                        <li><strong>Il crociato infedele  </strong> - Edito da <i>Rizzioli</i></li>
                        <li><strong>A tu per tu con Raffaele Morelli</strong> - Edito da <i>Riza</i></li>
                        <li><strong>Non colpevole, L’ultimo Cesare, La cripta dei libri profetici, Il profanatore di biblioteche proibite</strong> - Editi da <i>Newton & Compton</i></li>
                        <li><strong>Silla il figlio della fortuna, Silla imperator, Congiura</strong> - Editi da <i>Mursia</i></li>
                    </ul>
                </p>
                <p>
                    Lavora nell’editoria e insegna scrittura creativa da oltre dieci anni.<br>
                    Dal 2015 dirige la libreria Verso di Milano.
                </p>

            </div>
        </div>
    </div>
</div>

<hr>

<div class="row align-center">
    <div class="column small-12 center">
            <h2>Scrittori si diventa!<h2>
            <h3 class="subheader">La scrittura nasce dall’ispirazione ma si nutre di metodo e tecnica</h3>
    </div>
</div>

<hr>

<div class="row">
    <div class="column">
        <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> I temi del Corso</h2>
    </div>
</div>

<div class="row">
    <div class="column small-12 medium-9">
        <p>
            <ul>
                <li><h5><strong>L’idea</strong>: cercarla, trovarla, tenerla viva</h5></li>
                <li><h5><strong>La storia</strong>: la struttura tra ordine e caos</h5></li>
                <li><h5><strong>La forma del mondo</strong>: personaggi, ambiente, tempo</h5></li>
                <li><h5><strong>Le parole giuste</strong>: stile, punto di vista, genere, lingua, tono, voce</h5></li>
                <li><h5><strong>La struttura</strong>: incipit, finale e tutto quello che sta in mezzo</h5></li>
                <li><h5><strong>Il corpo</strong>: dialoghi, colpi di scena, divagazioni, flashback e molto altro</h5></li>
                <li><h5><strong>La revisione</strong>: rilettura e auto-editing</h5></li>
                <li><h5><strong>L’approccio</strong>: aiutare l’ispirazione, mantenere la disciplina, gestire lo sconforto</h5></li>
                <li><h5><strong>La pubblicazione</strong>: editori, agenti, proposte, contratti e altri incidenti (più o meno) necessari</h5></li>
            </ul>
        </p>
    </div>
    <div class="column">
        <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/tralerighe/1af923ad488dacb9e44543af7ce1c6a48c7ab030_scrittura.jpg">
    </div>
</div>

<hr>

<div class="row">
    <div class="column">
        <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Alcuni dettagli!</h2>
    </div>
</div>

<div class="row small-up-2">
    <div class="column">
        <h4 class="subheader">Quanto costa?</h2>
        <p>

            <span class="prezzo_iniziale">€ 1.250</span> (IVA compresa)<br>
            Sconto del 32%
             <span class="prezzo_scontato">€ 850</span> (IVA compresa)<br>

            Pagamento in un’unica soluzione (quota ridotta): <strong>€ 850 (IVA compresa)</strong><br>
            Pagamento in tre rate: <strong>€ 950 € (IVA compresa)</strong>
        </p>
    </div>
    <div class="column">
        <h4 class="subheader">Quanto dura il corso?</h2>
        <p>
            Il Corso di scrittura creativa si svolgerà da<br>
            <strong>ottobre 2016 a febbraio 2017 per un fine settimana al mese:</strong>
        </p>
        <p>
            <ul>
                <li>sabato 22 e domenica 23 ottobre 2016</li>
                <li>sabato 12 e domenica 13 novembre 2016</li>
                <li>sabato 3 e domenica 4 dicembre 2016</li>
                <li>sabato 14 e domenica 15 gennaio 2017</li>
                <li>sabato 11 e domenica 12 febbraio 2017</li>

            </ul>
        </p>
        <p>
            Gli orari: <strong>dalle 9 alle 17</strong> (il sabato e la domenica)
        </p>
    </div>
    <div class="column">
        <h4 class="subheader">Dove si tiene il corso?</h2>
        <p>
            <strong>Libreria MAMU Magazzino Musica</strong><br>
            via Soave 3, 20135 Milano<br>
            <i>(300 metri dalla fermata MM3 Porta Romana)</i>
        </p>
    </div>
    <div class="column">
        <h4 class="subheader">Quanti saranno i partecipanti?</h2>
        <p>
            <strong>Il corso prevede un massimo di 25 partecipanti</strong><br>
            Le candidature verranno quindi vagliate dallo staff di Tralerige<br>
        </p>
    </div>
</div>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
<script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>
</body>
