---
layout: easy
title: Corso di scrittura creativa
description: Da inserire
testata:
    prima_riga: Privacy policy
immagineTestata: https://prismic-io.s3.amazonaws.com/tralerighe/6d3f1a85b168f2eca43dc1ef8cbc83a7b70c660a_01-testata.jpg

---

<a href="//www.iubenda.com/privacy-policy/7884687" class="iubenda-white iub-body-embed iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>